.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
  width: 2px;
}

.app{
  background-color: #111111;
  height: calc(100vh);
  color: #92400e; 
  overflow: scroll; 
}
