.s-alert-box {
  min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
  width: 2px;
}

.app{
  background-color: #111111;
  height: calc(100vh);
  color: white; 
  overflow: scroll; 
}

.loading{
  margin-top: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left space-around;
  padding: 1em;
}

.flex-items{
  margin: 15px;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
}