<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1">
	<test name="Testing_Links">
		<classes>
			<class name="edu.cooper.ece366.project.server.LinkTest" />
		</classes>
	</test>
	<test name="Testing_MapsApi">
		<classes>
			<class name="edu.cooper.ece366.project.server.mapsApiTest" />
		</classes>
	</test>
	<test name="Testing_Messages">
		<classes>
			<class name="edu.cooper.ece366.project.server.messageTest" />
		</classes>
	</test>
	<test name="Testing_SalahScraper">
		<classes>
			<class name="edu.cooper.ece366.project.server.salahScraperTest" />
		</classes>
	</test>
	<test name="Testing_Place">
		<classes>
			<class name="edu.cooper.ece366.project.server.placeTest" />
		</classes>
	</test>
	<test name="Testing_Favorited">
		<classes>
			<class name="edu.cooper.ece366.project.server.favoritedTest" />
		</classes>
	</test>
	<test name="Testing_User">
		<classes>
			<class name="edu.cooper.ece366.project.server.userTest" />
		</classes>
	</test>
</suite>