@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
* {
    font-family: "Sawarabi Mincho"
    
}
body {
    background: #282c34; 
    color: white;
}
.icon {
    height: 50px; 
    width: 50px; 
}
.app-title {
    float: left; 
    padding-left: 10px; 
}
.app-header {
    height: 60px;
    position: relative;
    z-index: 1;  
}
.home-header-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-left: 10px; 
    padding-right: 10px; 
    background: rgba(0, 0, 0, 0.899); 
    position: fixed; 
    width: 100%; 
}
ul {
    text-align: center; 
}
.public {
    float: left;
    height: 60px;
    width: 420px;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.app-branding {
    float: left;
    width: 158px; 
}

.app-options {
    float: right;
}

.app-branding ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
    width: 158px; 
}

.app-branding ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: #92400e; 
}

.app-nav ul li a:hover {
    color: #f5900b;
}

ul li a.active {
    color: #f5900b;
}

.profile {
    border-left: 1px solid #78350f;
    margin: 7px 0px; 
}